---
import BaseLayout from "../layouts/BaseLayout.astro";
import LineChart from "../components/LineChart.astro";
import "../styles/page.css";

import { join } from "node:path";
import type { PostCountSnapshot } from "../type/post-count";
import { readJson } from "../utils/json";

const targetPath = "src/data/generated/";

const snapshots = await readJson<PostCountSnapshot[]>(
    join(targetPath, "post-counts.json"),
    [],
);

const postCounts: number[] = snapshots.map((snapshot) => snapshot.total);
---

<BaseLayout>
    <section class="page">
        <h1 class="page-title">History</h1>
        <p class="page-description">
            Statistics on the Number of Historical Articles
        </p>
    </section>

    <LineChart counts={postCounts} dates={snapshots.map((s) => s.date)} />
</BaseLayout>
