---
import BaseLayout from "../layouts/BaseLayout.astro";
import MemberCard from "../components/MemberCard.astro";
import type { MemberMap } from "../type/member";
import rawMemberMap from "../data/generated/member-map.json";

import "../styles/page.css";

const pageDescription = "Joined members and their Blog site & RSS feeds.";

const memberMap = rawMemberMap as MemberMap;
const members = Object.entries(memberMap);
---

<BaseLayout
    title="Members"
    favicon="member.svg"
    description={pageDescription}
    path="/members/"
>
    <section class="page">
        <h1 class="page-title">Members</h1>
        <p class="page-description">
            {pageDescription}
        </p>

        <section class="member-page__list">
            {members.map(([, member]) => <MemberCard member={member} />)}
        </section>
    </section>
</BaseLayout>

<style>
    .member-page__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 420px), 1fr));
        gap: 1rem;
        align-items: start;
    }
</style>
